.carousel-inner
  .carousel-item.active
    %img.d-block.w-100{:alt => "slide 0", :src => "#{photos[0].fetch_url(400)}"}/

  - 1.upto(@google_place.photos.count - 1) do |index|
    .carousel-item
      %img.d-block.w-100{:alt => "slide #{index}", :src => "#{photos[index].fetch_url(400)}"}
