---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&key=trash&language=&placeid=ChIJQcRZgK2Aj4ARnXNv0N65GMI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "2001",
                    "short_name" : "2001",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "Broadway",
                    "short_name" : "Broadway",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Downtown",
                    "short_name" : "Downtown",
                    "types" : [ "neighborhood", "political" ]
                 },
                 {
                    "long_name" : "Oakland",
                    "short_name" : "Oakland",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "Alameda County",
                    "short_name" : "Alameda County",
                    "types" : [ "administrative_area_level_2", "political" ]
                 },
                 {
                    "long_name" : "California",
                    "short_name" : "CA",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "94612",
                    "short_name" : "94612",
                    "types" : [ "postal_code" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"street-address\"\u003e2001 Broadway\u003c/span\u003e, \u003cspan class=\"locality\"\u003eOakland\u003c/span\u003e, \u003cspan class=\"region\"\u003eCA\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e94612\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUSA\u003c/span\u003e",
              "formatted_address" : "2001 Broadway, Oakland, CA 94612, USA",
              "formatted_phone_number" : "(510) 986-0511",
              "geometry" : {
                 "location" : {
                    "lat" : 37.8092687,
                    "lng" : -122.2683876
                 },
                 "viewport" : {
                    "northeast" : {
                       "lat" : 37.8106178302915,
                       "lng" : -122.2669272697085
                    },
                    "southwest" : {
                       "lat" : 37.8079198697085,
                       "lng" : -122.2696252302915
                    }
                 }
              },
              "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png",
              "id" : "06ba9b39621d9793cf68d6ab8063bb60ef348daf",
              "international_phone_number" : "+1 510-986-0511",
              "name" : "Tierra Mia Coffee",
              "opening_hours" : {
                 "open_now" : true,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "2100"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "0700"
                       }
                    },
                    {
                       "close" : {
                          "day" : 1,
                          "time" : "2100"
                       },
                       "open" : {
                          "day" : 1,
                          "time" : "0600"
                       }
                    },
                    {
                       "c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAYF_qMmffbPZgaIu7A_hyikHX7mQa4WC1CPwOuRsoTHtCBMufpy5f1klibvaBtlsw5gqcSdU5_qvnk2N42HMfkdqxEE2-hH3A9YtVglk9gQxr05zFQbIp7_ztI5qXbzerEhBu5qoNfOapmrYIzg2wtbicGhQsb4kXpuLJwGfjWN3VVm3pD_s6Gw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipMhiW5xJjaP8KIsUgbQZKFRJXxN_0ty3VSxiRst=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipMhiW5xJjaP8KIsUgbQZKFRJXxN_0ty3VSxiRst=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAczv6iHSBI4g5jWeEWFasB-u9-qXZmlF8YXVIfBB51RhN9BDDJK02W2f1DwT4xAwxk0IGfkU18trklJHbv6nZNavwGOYu6etcndR0DhzQXnkQYbmBH-nSKFdt3px03xd-EhC0XX24HywbQ2MzTmdsDWoZGhQPwKDohVilIYXrIvzxjmHnvBKnJw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipMVp5rt-rHtbTw6LLLHjUeGFubBH6WkbfOtnSlX=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipMVp5rt-rHtbTw6LLLHjUeGFubBH6WkbfOtnSlX=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:25 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAGs_oA2_iY8IQ_g6ldbSWPAApO5_j59XNY2P8BUnJ-cHRiALJ7t1Zba_p9XdARLPpXRTs8OTtZ2ZXnpnQZkgQO0Bxtui8A5SGUEB7NwMl748AdSQ-b4Xulpu6ymlDxvXQEhDpn07gTyfGmcVQtXniqfuJGhT4mNM33ZVXnMsivJdfPqw7yfY5FQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipPHBMJ6P_CjyGtD_tawv7bzbmZH3KQRCAXMB09m=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipPHBMJ6P_CjyGtD_tawv7bzbmZH3KQRCAXMB09m=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:25 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAuSuTZ42v4uPW5MKXef2pulkL2UNnA9Sw5Lhd5DegCw2xcF0etqcJwQowx6cmp57lqbpctyLQIjT5RYllsi0QPm98wwhOSc6gqBxSMReAza-Pst7vQ4v4jU0XFNL9vworEhDWAQBiscSbXsPdeKO9vKtXGhS13m-Nibw6uU-WmNwiohbXUUn6ag
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipM5AcZw8fpM-QqPOXv9QYBy4MZaicQP0Oa-adUB=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipM5AcZw8fpM-QqPOXv9QYBy4MZaicQP0Oa-adUB=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:26 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAANTV2-5PIpox7ld9sbWEafkJCOUy0YJWJRLX_HkE4DZPTZv5-KK1V9_Upq5WjPZL_q2wHzGSI1fn3S0m8f7GpigfLLxue28Kcb_tV5j7Mi7qQejnehS8aKW6Gk5s0bgtVEhDT-rjglog3VfzYHnsosG0yGhS4XsqJTUa7UNiR1txQ2ncgsghXqg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipNfIg0-Cq3R9ojbNe72a0XFmgZHq9Gx6LhXqJ11=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipNfIg0-Cq3R9ojbNe72a0XFmgZHq9Gx6LhXqJ11=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:26 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAATiC44-5POGMZmYLNW7EWDK9dCo-Eb1q20dBQmn5WgOTlwihQl5g2ZcwM7hsje-WP6JUlBe47keyKekDq9xsWooLBFUZtMYwm4y6KKhWiM75iIiuWf8CyRJJKkdnM9_UuEhD8nSDkKlzRKOsZ__seRwofGhQfknb8BYmlQ77vpH16G9m_0VgE3w
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipOiglRKXvuSu88icOuewSRm_iZFxFQvu4jct_EO=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipOiglRKXvuSu88icOuewSRm_iZFxFQvu4jct_EO=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:26 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAwtQSxC9F3kw5vDYM5ieacI5gxZ5FhTXxfIJMqOj7O9sgW3Vc2daQ3PFZLJ1oEV7PljfcstT8uiUMp0o1QP_IuMGprS1es2TEAvtgMDMzvm3TXEJ-gjlko0dChbu5_7VQEhBRWbXBf_7pwpuxrrffCkkGGhTIpPA5M7Q4STaDXhUuU-B12t2-Fg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipPTc06MNDdJwx5kTBS0AT9pd8t5ubwyFkE48w9v=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipPTc06MNDdJwx5kTBS0AT9pd8t5ubwyFkE48w9v=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:27 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAYiYpFcuB0QknP7RFtGIE4mGhp8SpyIx9NjNyjwvdorlR9jBIPoS8BpyiD8rXBUUaw6ZsmmRyx4ZliuLhJMF-Sq0spdTGMUJ0-ce9BvDX9ULpm2LcXOjbjAp8hp0LMbfAEhAa9_OyYS1tA6EUkTvSbPBIGhS9C9WAlFkqNjaJU_s__G7Vxh6z1g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipMkei8oIMbOss1ejFzOLce0bi8zVh8YDziOOW49=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipMkei8oIMbOss1ejFzOLce0bi8zVh8YDziOOW49=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:27 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAARVN4zi7pzBOAz31UPyUJnFqW548_bi7dqyr_t-W1r-SW29bJY-MsVbPyJpkrNX0jB4SQBgc61sDHDgSr6S2xGArfXlOXFumGAbjgk1gJOZ4-IIijmAUIhoe1cCTbqvAuEhBgO3JQu5RzvqBBcEzEUcNgGhRWf4-RTNYdy7pHQ1wXUYkYH4Ti5g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipNXG0PXIoCcH3AXDuTdBTEZzzeRqvQQMqKtEBr6=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipNXG0PXIoCcH3AXDuTdBTEZzzeRqvQQMqKtEBr6=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:27 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAACK3WWpbxzGwgY3ca7PJ6kWto2eoy2YkyG_O9gYRRMyTuo0wnpslWrekYQ8IKrnt5qSa6Mz_58kFZolbPgc1odMwNBCqCcth4-RfxhJayc2TDS-bD6ZdYOnmWYDX2AbMNEhDlYBeUCnnPtCM9wVI99DpOGhRwFJ4GJC3fHqqSNNmOUf1mo6cASA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipN79YKQElpcgqo-XydKUyl4Mt-0uNQuIxlMB0ep=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipN79YKQElpcgqo-XydKUyl4Mt-0uNQuIxlMB0ep=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:28 GMT
recorded_with: VCR 4.0.0
