---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&key=trash&language=&placeid=ChIJQcRZgK2Aj4ARnXNv0N65GMI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "2001",
                    "short_name" : "2001",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "Broadway",
                    "short_name" : "Broadway",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Downtown",
                    "short_name" : "Downtown",
                    "types" : [ "neighborhood", "political" ]
                 },
                 {
                    "long_name" : "Oakland",
                    "short_name" : "Oakland",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "Alameda County",
                    "short_name" : "Alameda County",
                    "types" : [ "administrative_area_level_2", "political" ]
                 },
                 {
                    "long_name" : "California",
                    "short_name" : "CA",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "94612",
                    "short_name" : "94612",
                    "types" : [ "postal_code" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"street-address\"\u003e2001 Broadway\u003c/span\u003e, \u003cspan class=\"locality\"\u003eOakland\u003c/span\u003e, \u003cspan class=\"region\"\u003eCA\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e94612\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUSA\u003c/span\u003e",
              "formatted_address" : "2001 Broadway, Oakland, CA 94612, USA",
              "formatted_phone_number" : "(510) 986-0511",
              "geometry" : {
                 "location" : {
                    "lat" : 37.8092687,
                    "lng" : -122.2683876
                 },
                 "viewport" : {
                    "northeast" : {
                       "lat" : 37.8106178302915,
                       "lng" : -122.2669272697085
                    },
                    "southwest" : {
                       "lat" : 37.8079198697085,
                       "lng" : -122.2696252302915
                    }
                 }
              },
              "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png",
              "id" : "06ba9b39621d9793cf68d6ab8063bb60ef348daf",
              "international_phone_number" : "+1 510-986-0511",
              "name" : "Tierra Mia Coffee",
              "opening_hours" : {
                 "open_now" : true,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "2100"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "0700"
                       }
                    },
                    {
                       "close" : {
                          "day" : 1,
                          "time" : "2100"
                       },
                       "open" : {
                          "day" : 1,
                          "time" : "0600"
                       }
                    },
                    {
                       "c[...]
