---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&key=trash&language=&placeid=ChIJQcRZgK2Aj4ARnXNv0N65GMI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "2001",
                    "short_name" : "2001",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "Broadway",
                    "short_name" : "Broadway",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Downtown",
                    "short_name" : "Downtown",
                    "types" : [ "neighborhood", "political" ]
                 },
                 {
                    "long_name" : "Oakland",
                    "short_name" : "Oakland",
                    "types" : [ "locality", "political" ]
                 },
                 {
                    "long_name" : "Alameda County",
                    "short_name" : "Alameda County",
                    "types" : [ "administrative_area_level_2", "political" ]
                 },
                 {
                    "long_name" : "California",
                    "short_name" : "CA",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 },
                 {
                    "long_name" : "94612",
                    "short_name" : "94612",
                    "types" : [ "postal_code" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"street-address\"\u003e2001 Broadway\u003c/span\u003e, \u003cspan class=\"locality\"\u003eOakland\u003c/span\u003e, \u003cspan class=\"region\"\u003eCA\u003c/span\u003e \u003cspan class=\"postal-code\"\u003e94612\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUSA\u003c/span\u003e",
              "formatted_address" : "2001 Broadway, Oakland, CA 94612, USA",
              "formatted_phone_number" : "(510) 986-0511",
              "geometry" : {
                 "location" : {
                    "lat" : 37.8092687,
                    "lng" : -122.2683876
                 },
                 "viewport" : {
                    "northeast" : {
                       "lat" : 37.8106178302915,
                       "lng" : -122.2669272697085
                    },
                    "southwest" : {
                       "lat" : 37.8079198697085,
                       "lng" : -122.2696252302915
                    }
                 }
              },
              "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png",
              "id" : "06ba9b39621d9793cf68d6ab8063bb60ef348daf",
              "international_phone_number" : "+1 510-986-0511",
              "name" : "Tierra Mia Coffee",
              "opening_hours" : {
                 "open_now" : true,
                 "periods" : [
                    {
                       "close" : {
                          "day" : 0,
                          "time" : "2100"
                       },
                       "open" : {
                          "day" : 0,
                          "time" : "0700"
                       }
                    },
                    {
                       "close" : {
                          "day" : 1,
                          "time" : "2100"
                       },
                       "open" : {
                          "day" : 1,
                          "time" : "0600"
                       }
                    },
                    {
                       "c[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAYF_qMmffbPZgaIu7A_hyikHX7mQa4WC1CPwOuRsoTHtCBMufpy5f1klibvaBtlsw5gqcSdU5_qvnk2N42HMfkdqxEE2-hH3A9YtVglk9gQxr05zFQbIp7_ztI5qXbzerEhBu5qoNfOapmrYIzg2wtbicGhQsb4kXpuLJwGfjWN3VVm3pD_s6Gw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipMhiW5xJjaP8KIsUgbQZKFRJXxN_0ty3VSxiRst=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipMhiW5xJjaP8KIsUgbQZKFRJXxN_0ty3VSxiRst=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAczv6iHSBI4g5jWeEWFasB-u9-qXZmlF8YXVIfBB51RhN9BDDJK02W2f1DwT4xAwxk0IGfkU18trklJHbv6nZNavwGOYu6etcndR0DhzQXnkQYbmBH-nSKFdt3px03xd-EhC0XX24HywbQ2MzTmdsDWoZGhQPwKDohVilIYXrIvzxjmHnvBKnJw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipMVp5rt-rHtbTw6LLLHjUeGFubBH6WkbfOtnSlX=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipMVp5rt-rHtbTw6LLLHjUeGFubBH6WkbfOtnSlX=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:25 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAGs_oA2_iY8IQ_g6ldbSWPAApO5_j59XNY2P8BUnJ-cHRiALJ7t1Zba_p9XdARLPpXRTs8OTtZ2ZXnpnQZkgQO0Bxtui8A5SGUEB7NwMl748AdSQ-b4Xulpu6ymlDxvXQEhDpn07gTyfGmcVQtXniqfuJGhT4mNM33ZVXnMsivJdfPqw7yfY5FQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipPHBMJ6P_CjyGtD_tawv7bzbmZH3KQRCAXMB09m=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipPHBMJ6P_CjyGtD_tawv7bzbmZH3KQRCAXMB09m=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:25 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAuSuTZ42v4uPW5MKXef2pulkL2UNnA9Sw5Lhd5DegCw2xcF0etqcJwQowx6cmp57lqbpctyLQIjT5RYllsi0QPm98wwhOSc6gqBxSMReAza-Pst7vQ4v4jU0XFNL9vworEhDWAQBiscSbXsPdeKO9vKtXGhS13m-Nibw6uU-WmNwiohbXUUn6ag
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipM5AcZw8fpM-QqPOXv9QYBy4MZaicQP0Oa-adUB=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipM5AcZw8fpM-QqPOXv9QYBy4MZaicQP0Oa-adUB=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:26 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAANTV2-5PIpox7ld9sbWEafkJCOUy0YJWJRLX_HkE4DZPTZv5-KK1V9_Upq5WjPZL_q2wHzGSI1fn3S0m8f7GpigfLLxue28Kcb_tV5j7Mi7qQejnehS8aKW6Gk5s0bgtVEhDT-rjglog3VfzYHnsosG0yGhS4XsqJTUa7UNiR1txQ2ncgsghXqg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipNfIg0-Cq3R9ojbNe72a0XFmgZHq9Gx6LhXqJ11=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipNfIg0-Cq3R9ojbNe72a0XFmgZHq9Gx6LhXqJ11=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:26 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAATiC44-5POGMZmYLNW7EWDK9dCo-Eb1q20dBQmn5WgOTlwihQl5g2ZcwM7hsje-WP6JUlBe47keyKekDq9xsWooLBFUZtMYwm4y6KKhWiM75iIiuWf8CyRJJKkdnM9_UuEhD8nSDkKlzRKOsZ__seRwofGhQfknb8BYmlQ77vpH16G9m_0VgE3w
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipOiglRKXvuSu88icOuewSRm_iZFxFQvu4jct_EO=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipOiglRKXvuSu88icOuewSRm_iZFxFQvu4jct_EO=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:26 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAwtQSxC9F3kw5vDYM5ieacI5gxZ5FhTXxfIJMqOj7O9sgW3Vc2daQ3PFZLJ1oEV7PljfcstT8uiUMp0o1QP_IuMGprS1es2TEAvtgMDMzvm3TXEJ-gjlko0dChbu5_7VQEhBRWbXBf_7pwpuxrrffCkkGGhTIpPA5M7Q4STaDXhUuU-B12t2-Fg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipPTc06MNDdJwx5kTBS0AT9pd8t5ubwyFkE48w9v=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipPTc06MNDdJwx5kTBS0AT9pd8t5ubwyFkE48w9v=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:27 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAYiYpFcuB0QknP7RFtGIE4mGhp8SpyIx9NjNyjwvdorlR9jBIPoS8BpyiD8rXBUUaw6ZsmmRyx4ZliuLhJMF-Sq0spdTGMUJ0-ce9BvDX9ULpm2LcXOjbjAp8hp0LMbfAEhAa9_OyYS1tA6EUkTvSbPBIGhS9C9WAlFkqNjaJU_s__G7Vxh6z1g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipMkei8oIMbOss1ejFzOLce0bi8zVh8YDziOOW49=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipMkei8oIMbOss1ejFzOLce0bi8zVh8YDziOOW49=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:27 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAARVN4zi7pzBOAz31UPyUJnFqW548_bi7dqyr_t-W1r-SW29bJY-MsVbPyJpkrNX0jB4SQBgc61sDHDgSr6S2xGArfXlOXFumGAbjgk1gJOZ4-IIijmAUIhoe1cCTbqvAuEhBgO3JQu5RzvqBBcEzEUcNgGhRWf4-RTNYdy7pHQ1wXUYkYH4Ti5g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipNXG0PXIoCcH3AXDuTdBTEZzzeRqvQQMqKtEBr6=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipNXG0PXIoCcH3AXDuTdBTEZzzeRqvQQMqKtEBr6=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:27 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAACK3WWpbxzGwgY3ca7PJ6kWto2eoy2YkyG_O9gYRRMyTuo0wnpslWrekYQ8IKrnt5qSa6Mz_58kFZolbPgc1odMwNBCqCcth4-RfxhJayc2TDS-bD6ZdYOnmWYDX2AbMNEhDlYBeUCnnPtCM9wVI99DpOGhRwFJ4GJC3fHqqSNNmOUf1mo6cASA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipN79YKQElpcgqo-XydKUyl4Mt-0uNQuIxlMB0ep=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipN79YKQElpcgqo-XydKUyl4Mt-0uNQuIxlMB0ep=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Sun, 20 May 2018 01:52:28 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAgYrd49gfbEfWjDyh7Dlxrq9NjenETmHnwTk-0XT67078UEZ-AHk_AkWb3Oki1BQwZ-mKX5k9zsaJIJ84wR86eawLe7BsN4HCLF4wh6FqF7XlEWir9HBab6OJonZB_ORNEhDFB-kS_UiXmnTKfiinp7QFGhQejEbCC0c9A2uMkgBnwHvt9wb9iA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipMhiW5xJjaP8KIsUgbQZKFRJXxN_0ty3VSxiRst=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipMhiW5xJjaP8KIsUgbQZKFRJXxN_0ty3VSxiRst=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 May 2018 23:12:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAA7_zgDHmRDCJnXMo6UIHqPXtwKqHshz4f0sK7jyE8WnwJkJ2QiuL3s1BZfPsObNSscIhON9WLHyw2VnFhotk8w0_VaXp-qU2OLEmFGaPcR9kwqcJPEGN8f7q-TgFpd70GEhDTWg9nfAioIa2gvCXlYEKRGhTCfB483PxIwrkkx4zIaVUoVBYjIA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipP-GI02-kz8ZI-dkQrXByYuEMq3y5UWS3wsNAm0=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipP-GI02-kz8ZI-dkQrXByYuEMq3y5UWS3wsNAm0=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 May 2018 23:12:00 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAnwD0fBq96WSVTPpu-8hnHoRT9Y84BsrVrT3gVEHNEK37u_TZap2vX1MDmV2IbzihdCXcnsJ7Uu0X2avpGkoJCxGUgILWxbirfCNrHBRCv-DyQvQhc5fNUpzsophxPqr6EhBddIa0AMJ4r9hIfC5MzbegGhQ18HOepaMvekyzD10jLE-CEQeNaw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipPHBMJ6P_CjyGtD_tawv7bzbmZH3KQRCAXMB09m=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipPHBMJ6P_CjyGtD_tawv7bzbmZH3KQRCAXMB09m=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 May 2018 23:12:01 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAANRyvxvLDI7E2KG8PU0KTJbxCzkdcfq-9Na4Oqj6Renls91apvkeDMGEf5FtKyyZ_isSDN-ygEfM7GjEma7dT5O94xxptOSM7JJFKqLczsiKoh5ERrMGFy7KfQTrDwvVyEhClElLCvDK1cvY6v66xwFc-GhQhL_4LUR4h__nEga59fu6AivTzuA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipM5AcZw8fpM-QqPOXv9QYBy4MZaicQP0Oa-adUB=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipM5AcZw8fpM-QqPOXv9QYBy4MZaicQP0Oa-adUB=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 May 2018 23:12:01 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAU0_4zmsokR7rv17WUHD-A6pXOnhS15rLQWWJ39h9AeBrA-XXp3O7y8-DEmfSdLdJAMetYjsV9SHG95uZ19mdLxBL0jRONyQsqHL-h3urJGy2SPZlp1lgi7gUwx6g1EDOEhA3_glOg06WKeQWHgPr7SI8GhRonPTq_d7R3490tIyRRA893lSjVA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipPTc06MNDdJwx5kTBS0AT9pd8t5ubwyFkE48w9v=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipPTc06MNDdJwx5kTBS0AT9pd8t5ubwyFkE48w9v=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 May 2018 23:12:01 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAASq-CEoY77IHHNob_lZiU05Yf7nfY0sF6xQXVTWvYvzHVc9d85dh05ih5i49jFZFGTaGrzl5yTrKklSboM0sTu5N-eEbb-aX_ouZqG0M1pU33XPuX2Nj9yDArWmyJSqXkEhA_moYYRWL_i1KTGWZ8xIYeGhQXLK3Y1Q3Nd4irSI-UHbcdq86FPg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipOiglRKXvuSu88icOuewSRm_iZFxFQvu4jct_EO=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipOiglRKXvuSu88icOuewSRm_iZFxFQvu4jct_EO=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 May 2018 23:12:01 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAkqdQVwY92TyUu5MjEvZ2LvMtCslhwpbHNjPxYrQ8BsrgGAzZDhxYnv_7P_CwowDWVg1SF9m6_hOkjoVnTKrjcgSLJCnf4B_WNzkqcas_2SxU4Jw28ZsWY5Es6pDe3FktEhA2eS7Vx9ZEPjpOHJGCiS5OGhTvOozFGi1Eu9A8QOWB3oJPMnm0mw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipN79YKQElpcgqo-XydKUyl4Mt-0uNQuIxlMB0ep=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipN79YKQElpcgqo-XydKUyl4Mt-0uNQuIxlMB0ep=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 May 2018 23:12:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAub7xwHmfyE3vRyLVV6Ew4iPcZxzRFqCH3NzNjb-Pz66COvcinkX7F5fEf8LLYJMc3hY4U493vz-buMFopUjksRyRAYTvODC7XE-vt20XnKu1tLw_46-O6GGnB6LKzItdEhC_QQHkzh4wLzFrViBkehlPGhSIVsMHldLMV6SOF1P4akVZkj3Xlw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipMkei8oIMbOss1ejFzOLce0bi8zVh8YDziOOW49=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipMkei8oIMbOss1ejFzOLce0bi8zVh8YDziOOW49=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 May 2018 23:12:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAR7CLInaUt8Opm7G-UJ6ZTIVznwK8emk94h05HBXc5Q6XLvxitghYpakowQtPsxqH_Yx9F9wdUGiNjsKqxAuFafm_K3JJR10xnTi-thgtr_H4YjI8cbn4Jlaka_hMCcDAEhDE0wwZRg6OGdRjWouYPvUUGhSCQNBYbrrsnH-LCfhxtYj-UIHR5A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipNXG0PXIoCcH3AXDuTdBTEZzzeRqvQQMqKtEBr6=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipNXG0PXIoCcH3AXDuTdBTEZzzeRqvQQMqKtEBr6=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 May 2018 23:12:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=trash&maxwidth=400&photoreference=CmRaAAAAomLC32U18ndh9aLuNq1wfbWHOLSyUq6D2wf7s2nwYhRXHS2hLUInPWUijnrp-eIoc6WHNjFmNXBelF7Wgx2M-rPzjS0oNwo0s5heDzlUUoI_szqa9_9kFmRUQonJb81dEhBb97C4AvCd4Esp27uutCu1GhRqe3gtiDFP-pDeWyoAZ3AdnP63QQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipNAgBcVLBZpBSpu-TrGLcaK_qCnfrktpyYcdZbJ=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipNAgBcVLBZpBSpu-TrGLcaK_qCnfrktpyYcdZbJ=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Mon, 28 May 2018 23:12:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?extensions=&key=TRASH&language=&placeid=ChIJQcRZgK2Aj4ARnXNv0N65GMI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_co[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=TRASH&maxwidth=400&photoreference=CmRaAAAA5ULBLrEaDEF6rsQA0EVEBTRIzokAbBJMXBGdMpKqJRUA3bk6Vy-M3iTZqeVr5H9KWW5gnYCVBlqEuPIa7l0HgJYPToFkHpw8k5PhwOwl2mW6Q49ZEpqbhaTu-fq8gFV1EhD2ZaodXHlZ1FcBy3bVLmyUGhSu7D9UF4lUwIyUhA5y1VK0CN8ykw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipMhiW5xJjaP8KIsUgbQZKFRJXxN_0ty3VSxiRst=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipMhiW5xJjaP8KIsUgbQZKFRJXxN_0ty3VSxiRst=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Tue, 29 May 2018 02:51:04 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=TRASH&maxwidth=400&photoreference=CmRaAAAA43QJ61wZ-qXuYmBLrOY69NSLW645oCPU8wcal1_Lvwfx9G7eomWVxrFWgQ0Bjvn_TTfPhvz_Niz0byO92fW_cWk5FhY-mhPgocsTud1Pr2jtinp-ZI4dtLpDM7kF-leaEhAWCNWCazfBwD0-uaesdCRlGhQ_bsBM0aQTyykrRnhVEmFokLm9gg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipP-GI02-kz8ZI-dkQrXByYuEMq3y5UWS3wsNAm0=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipP-GI02-kz8ZI-dkQrXByYuEMq3y5UWS3wsNAm0=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Tue, 29 May 2018 02:51:05 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=TRASH&maxwidth=400&photoreference=CmRaAAAA0Hhsm-pEl54cDSALqFTRFOayNSNa-z_rHU9EeMlXmet0Hu6ctTbHuO7yJM03wHHH6UrbMoqpMobKK4Z0yD8YhfDcnTvP_nA0drhm3oHYRWaqrF2EAV08aPmC2EuAGtmsEhADXA64WSQeEVp9q9_qfgeoGhSlJBPkPg2UAC6iRD2So9Vo51BKLg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipPHBMJ6P_CjyGtD_tawv7bzbmZH3KQRCAXMB09m=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipPHBMJ6P_CjyGtD_tawv7bzbmZH3KQRCAXMB09m=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Tue, 29 May 2018 02:51:05 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=TRASH&maxwidth=400&photoreference=CmRaAAAAiZRyzxVCdjV2EToFjOJkjFBjYw0CDvRN6Oth-5vvfmtyKlkDuXj8Sj1Ymau5s-JmFu_UWloNOdTGldg9vpr9ozDTUzvNIj5qQzZK6khGI7jei5sOlGcvA92VpH2LVd7hEhBdL5x4jy6d07KCz2LBkHuGGhT6ESpxKvHIde4mpyt-LvAq3ANSwQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipM5AcZw8fpM-QqPOXv9QYBy4MZaicQP0Oa-adUB=s1600-w400
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipM5AcZw8fpM-QqPOXv9QYBy4MZaicQP0Oa-adUB=s1600-w400\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Tue, 29 May 2018 02:51:05 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=TRASH&maxwidth=400&photoreference=CmRaAAAAlbk5oS6KXUtV_pEyqgdzPNzbDs06O50r6Rgx2X3MHMMGXarKjOXMi4TvQWZB0NC94dzJgZMWwB9Xrp-SNl1x9k73s2AJCKxxVVhLo3g6r-f5u8GaMwmHCthLCPEVRab0EhCaHjbra-Dz0P520syySYI0GhTB6iWxtjpgjqKpw1IXz5wakY0o-w
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
[...]
