= form_tag listings_path, class: 'form-inline', method: :get do
  .col-8
    = search_field_tag :location, nil, class: 'form-control mr-sm-2 location-search', placeholder: 'Location'
  .col-4
    %button.btn.btn-outline.btn-outline-success.nav-button.my-2.my-sm-0{:type => 'submit'} Search
