// Variables
// Colors
$navbar-color: #fbdd58;
$navbar-color-ligher-1: #f7eec8;
$navbar-color-active: #e4bd09;
$navbar-button-color: black;

//Radius
$navbar-button-radius: 20px;
$navbar-input-radius: 20px;

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

// Header
#primary-navbar {
  border-bottom: 8px solid $navbar-button-color !important;
  background: $navbar-color !important;
  height: 6rem;

  .btn-outline-success {
    color: $navbar-button-color;
    background-color: transparent;
    background-image: none;
    border-color: $navbar-button-color;
    border-radius: $navbar-button-radius;
  }

  .btn-outline-success:hover {
    color: $navbar-button-color;
    background-color: $navbar-color-active;
    border-color: $navbar-button-color;
  }

  .active {
    background-color: $navbar-color-active;
    border-radius: $navbar-button-radius;
  }

  .nav-pills .nav-item:hover {
    background-color: $navbar-color-active;
    border-color: $navbar-color-active;
    border-radius: $navbar-button-radius;
  }

  .location-search {
    background-color: $navbar-color-ligher-1;
    border-radius: $navbar-input-radius;
    border-color: $navbar-button-color;
  }
}
