//// Variables

// Colors
$navbar-color: #fbdd58;
$navbar-color-lighter-1: #f7eec8;
$navbar-color-darker-1: #f1ce35;
$navbar-color-active: #e4bd09;
$navbar-button-color: black;

$card-text-color: black;
$bitcoin-organge: #f5922f;

// Radius
$standard-radius: 20px;

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

// Header
#primary-navbar {
  border-bottom: 8px solid $navbar-button-color !important;
  background: $navbar-color !important;
  height: 6rem;

  .active {
    background-color: $navbar-color-active;
    border-radius: $standard-radius;
  }

  .nav-pills .nav-item:hover {
    background-color: $navbar-color-active;
    border-color: $navbar-color-active;
    border-radius: $standard-radius;
  }
}

.btn-outline-success {
  color: $navbar-button-color;
  background-color: transparent;
  background-image: none;
  border-color: $navbar-button-color;
  border-radius: $standard-radius;
}

.btn-outline-success:hover {
  color: $navbar-button-color;
  background-color: $navbar-color-active;
  border-color: $navbar-button-color;
}

.location-search {
  background-color: $navbar-color-lighter-1 !important;
  border-radius: $standard-radius !important;
  border-color: $navbar-button-color !important;
}

#category-search {
  min-width: 200px;
}

#flashsuccess {
  margin-bottom: 0px;
}

// Primary Header Mobile
#primary-navbar-mobile {
  background: $navbar-color;
  border-bottom: 8px solid $navbar-button-color !important;
}

// Secondary Header Mobile
#secondary-header-mobile {
  padding: 10px 15px 10px 15px;
  background: $navbar-color-darker-1;
  border-bottom: 1px solid black;
  margin-bottom: 7px;

  .btn {
    height: 1.75rem;
    font-size: 1em;
    line-height: 1em;
    background: $navbar-color;
  }
}
