// Place all the styles related to the Listings controller here.
// You can use Sass (SCSS) here: http://sass-lang.com/

$standard-radius: 20px;
$listings-background-color: #ebebeb;
$card-text-color: black;
$navbar-color-ligher-1: #f7eec8;
$navbar-color: #fbdd58;
$navbar-color-darker-1: #f1ce35;
$bitcoin-organge: #f5922f;

// #listing-form {
//   #accepts {
//     margin-right: 5px;
//     color: green;
//     font-weight: 500;
//   }
// }

.primary-color {
  color: $navbar-color;
}

.primary-color-darker-1 {
  color: $navbar-color-darker-1;
}

#listings-index {
  background-color: $listings-background-color;

  #listing-cards {
    padding-top: 15px;
    padding-left: 15px;

    .card {
      margin-bottom: 15px;
      border-radius: $standard-radius;
      overflow: hidden;
      max-height: 175px;
      flex-direction: row;

      .card-body:hover {
        background-color: $navbar-color-ligher-1;
      }

      .card-body.active {
        background-color: $navbar-color-ligher-1;
      }

      .card-body a {
        text-decoration: none;
        color: $card-text-color;

        .card-text {
          font-size: 1em;
        }

        address.card-text {
          font-size: 0.75em;
        }
      }

      .img-container {
        width: 45%;
      }
    }
  }

  #map-photos-details {
    margin-left: -10px;

    #map-photos {
      border-top-left-radius: $standard-radius;
      border-bottom-left-radius: $standard-radius;
      overflow: hidden;
      height: 15%;
      margin-bottom: 20px;
      margin-top: 15px;
    }

    // Map column
    #map {
      width: 50%;
      height: 100%;
      display: inline;
      float: left;
      // position: relative;
    }

    #photos {
      background: red;
      width: 50%;
      height: 100%;
      float: right;
    }

    #listing-details {
      .card {
        border-top-left-radius: $standard-radius;
        border-bottom-left-radius: $standard-radius;
        margin-left: 10px;
      }
    }
  }

  #listing-details {
    a.detail-url {
      font-size: 0.75em;
      color: $navbar-color-darker-1;
    }

    .star-icon {
      color: $navbar-color;
    }

    .bitcoin-orange {
      color: $bitcoin-organge;
    }
  }
}

#listings-new-form {
  .currency-check-box {
    margin-right: 10px;
  }
}
