// Place all the styles related to the Listings controller here.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application";

////Variables
$listings-background-color: #fbdd58;

.primary-color {
  color: $navbar-color;
}

.primary-color-darker-1 {
  color: $navbar-color-darker-1;
}

#listings-index {
  // Mobile
  @media (min-width: 0px) {
    background-color: $navbar-color;

    #mobile-listing-details {
      .card {
        margin-left: 25px;
        margin-right: 25px;
        border-radius: $standard-radius;

        .card-body {
          padding-left: 10px;
          padding-top: 10px;
          padding-bottom: 5px;
        }

        h1 {
          font-size: 1.5em;
        }

        h4 {
          font-size: 1em;
        }

        li {
          font-size: 0.75em;
        }

        p {
          font-size: 0.75em;
        }

        #show-details {
          font-size: 0.65em;
          background: $navbar-color;
          margin-top: -10px;
          margin-bottom: 5px;
        }

        #hours {
          font-size: 0.75em;
        }

        #hours-currencies-reviews {
          display: none;
        }
      }
    }

    #map-card {
      width: 100%;
      height: 150px;
      margin-left: 25px;
      margin-right: 25px;
      margin-bottom: 5px;
      border-radius: $standard-radius;
      overflow: hidden;

      #update-size-container {
        z-index: 100;
        bottom: 10px;
        position: absolute;
        margin-left: 5px;
      }

      .map-button {
        font-size: 0.65em;
        background: $navbar-color;
        margin-top: 5px;
        margin-left: 5px;
      }

      #map {
        width: 100%;
        height: 100%;
        display: inline;
        float: left;
      }
    }
  }

  @media (min-width: 576px) {
    background-color: $listings-background-color;
  }

  #mobile-search-bar {
    background-color: $navbar-color;
  }

  #listing-cards {
    @media (min-width: 0px) {
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 10px;

      .card {
        max-height: 75px;
        margin-bottom: 5px;

        .card-body {
          padding-left: 12px;
          padding-right: 5px;
          padding-top: 10px;
          padding-bottom: 10px;

          .card-title {
            font-size: 0.8em;
          }

          .card-text {
            font-size: 0.75em;
          }

          address.card-text {
            margin-top: -5px;
          }
        }
        .img-container {
          width: 40%;
        }
      }
    }

    @media (min-width: 576px) {
      padding-top: 15px;
      padding-left: 15px;

      .card {
        max-height: 175px;
        margin-bottom: 15px;

        .card-text {
          font-size: 1em;
        }

        .img-container {
          width: 45%;
        }
      }
    }

    .card {
      border-radius: $standard-radius;
      overflow: hidden;
      flex-direction: row;
      border-color: $navbar-color-darker-1;

      .card-body:hover {
        background-color: $navbar-color-lighter-1;
      }

      .card-body.active {
        background-color: $navbar-color-lighter-1;
      }

      .card-body a {
        text-decoration: none;
        color: $card-text-color;

        address.card-text {
          font-size: 0.75em;
        }
      }
    }
  }

  // Desktop
  #map-photos-details {
    margin-left: -10px;

    #map-photos {
      border-top-left-radius: $standard-radius;
      border-bottom-left-radius: $standard-radius;
      overflow: hidden;
      height: 13%;
      margin-bottom: 20px;
      margin-top: 15px;
    }

    // Map column
    #map {
      width: 50%;
      height: 100%;
      display: inline;
      float: left;
      // position: relative;
    }

    #photos {
      width: 50%;
      height: 100%;
      float: right;
    }

    #listing-details {
      .card {
        border-top-left-radius: $standard-radius;
        border-bottom-left-radius: $standard-radius;
        margin-left: 10px;
      }

      a.detail-url {
        font-size: 0.75em;
        color: $navbar-color-darker-1;
      }
    }
  }

  .star-icon {
    color: $navbar-color;
  }

  .bitcoin-orange {
    color: $bitcoin-organge;
  }
}

#listings-new-form {
  .currency-check-box {
    margin-right: 10px;
  }
}
