/ #90
%ul.a-90
  %li
    / Change the word "COLORNAME" to any colors.
    %a.a-bg-orange{:href => "/"}
      %span Corner
  %li
    %a.a-bg-orange{:href => "/listings/new"}
      %span Add A Listing
  %li
    %a.a-bg-orange{:href => "#"}
      %span --
  %li
    %a.a-bg-orange{:href => "#"}
      %span --
  %li
    %a.a-bg-orange{:href => "#"}
      %span --
  - if current_user
    %li
      %a.a-bg-orange{:href => "/logout"}
        %span Log Out
  - else
    %li
      %a.a-bg-orange{:href => "/login"}
        %span Signin / Signup
