/ #90
%ul.a-90
  %li
    / Change the word "COLORNAME" to any colors.
    %a.a-bg-orange{:href => "/"}
      %span Corner
  %li
    %a.a-bg-orange{:href => "/locations/new"}
      %span Add Location
  %li
    %a.a-bg-orange{:href => "#"}
      %span Accept Crypto
  %li
    %a.a-bg-orange{:href => "#"}
      %span Get Crypto
  %li
    %a.a-bg-orange{:href => "#"}
      %span Things
  %li
    %a.a-bg-orange{:href => "#"}
      %span Other Things
