= form_tag listings_path, class: 'form-inline', method: :get do
    = search_field_tag :location, params[:location], class: 'form-control mr-sm-2 location-search', placeholder: 'Location'
    = search_field_tag :name, params[:name], class: 'form-control mr-sm-2 location-search', placeholder: 'Name'
    %button.btn.btn-outline.btn-outline-success.nav-button.my-2.my-sm-0{:type => 'submit'} Search
